livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-inworld
livekit-plugins-deepgram
livekit-plugins-azure
livekit-plugins-noise-cancellation
mem0ai
duckduckgo-search
langchain_community
requests
python-dotenv
pydantic-ai-slim[openai,MCP]
livekit-plugins-cartesia
tzdata
aiohttp